{% extends 'base.html' %}
{% block title %}
{{ course.name }}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/course.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/review.css') }}">
<body>

<main>
    <h2><a href="{{ course.link }}" target="_blank" class="course-link">{{ course.name }}</a></h2>
    <a href="{{ course.link }}" target="_blank" >Ссылка на курс</a>
    <p>{{ course.description }}</p>
    <h3>Технологии:</h3>
    <div class="grid">
        <div class="grid">
            <div class="grid_dir">
                {% for technology in technologies %}
                <p>{{ technology.title }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if course.school_id %}
    <h3>Школа:  <a href="{{ url_for('review.review_by_school_id', school_id=school.id) }}">{{ school.title }}</a></h3>
    {% endif %}
    {% if course.price != 0 %}
    <h3>Цена: {{ course.price|default(0)|int }} ₽</h3>
    {% else %}
    <h3>Бесплатный курс</h3>
    {% endif %}
    {% if course.date_start %}
    <h3>Когда можно начать:  {{ course.date_start.strftime('%d.%m.%Y') }}</h3>
    {% endif %}
    {% include "flash.html" %}
    <form action="{{ url_for('review.write_review', course_id=course.id) }}" method="POST">
        <div class="form-group w-50">
            <label for="textInput">Текст отзыва:</label>
            <textarea class="form-control" id="textInput" name="text" placeholder="Напишите отзыв..."></textarea>
        </div>
        <div class="form-group w-50">
            <label for="ratingInput">Рейтинг:</label>
            <input type="number" class="form-control" id="ratingInput" name="rating" min="0" max="5" placeholder="Введите рейтинг курса...">
        </div>
        <input type="hidden" name="user_id" value="{{ current_user.id }}" />
        <button type="submit" class="btn btn-primary mt-3" id="submit">Отправить отзыв</button>
    </form>
    {% for review in reviews %}
        {% include "review/review_item.html" %}
    {% endfor %}
    <div class="pages">
                {% if prev_url %}
                <a href="{{ prev_url }}">Предыдущая страница</a>
                {% endif %}
                <span>Страница {{ page }}</span>
                {% if next_url %}
                <a href="{{ next_url }}">Следующая страница</a>
                {% endif %}
              </div>

</main>
<script>

    course_id = '{{ course.id }}'
    console.log(course_id)
    textInput = document.getElementById('textInput')
    ratingInput = document.getElementById('ratingInput')
    submit = document.getElementById('submit')

    if(localStorage.getItem(course_id)) {
        map = JSON.parse(localStorage.getItem(course_id))
        textInput.value = map['text']
        ratingInput.value = map['rating']
    }
    textInput.addEventListener('input', () => {
        console.log(JSON.stringify({'text': textInput.value, 'rating': ratingInput.value}))
        localStorage.setItem(course_id, JSON.stringify({'text': textInput.value, 'rating': ratingInput.value}))
    })
    ratingInput.addEventListener('input', () => {
        localStorage.setItem(course_id, JSON.stringify({'text': textInput.value, 'rating': ratingInput.value}))
    })
     {% if  current_user.is_authenticated %}
    submit.addEventListener('click', () => {
      localStorage.removeItem(course_id)
    })
    {% endif %}

</script>
</body>

{% endblock %}