<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<p>Пользователи</p>
{% for u in users %}
<p>{{ u }}</p>
<form action="/delete" method="post">
    <input type="hidden" value="{{ u.id }}" name="id"/>
    <button type="submit">Удалить</button>
</form>
{% endfor %}

<form action="/create" method="post">
    <label>
        <input type="text" name="username">
    </label><br/>
    <label>
        <input type="text" name="email">
    </label><br/>
    <label>
        <input type="text" name="password_hash">
    </label><br/>
    <label>
        <input type="date" name="date">
    </label><br/>
    <button type="submit">Создать</button>
</form>
</body>
</html>