{% extends 'base.html' %}
{% block title %}
Главная
{% endblock %}
{% block content %}
<link href="{{ url_for('static', filename='style/main.css', v=1) }} }}" rel="stylesheet" crossorigin="anonymous">
<main>
    <div class="main">
        <div class="left">
            <h2 style="color: white">Агрегатор курсов</h2>
            <p>Наша цель собрать курсы по</p>
            <p>программированию в одном месте,</p>
            <p>чтобы разработчикам было проще</p>
            <p>улучшить свои навыки.</p>
        </div>
        <div class="center">
            <img src="{{ url_for('static', filename='icon/book.svg') }}" alt="Книга">
        </div>
        <div class="right">
            <p>1000+<br/>Курсов</p>
            <p>20+<br/>Направлений</p>
            <p>150+<br/>Отзывов</p>
            <p>15<br/>Школ</p>
        </div>
    </div>
    <div class="toggler">
        <h2>Направления</h2>
        <div class="grid">
            <a href="{{ url_for('main.prev_page', page=page) }}" class="arrow_left"><img  src="{{ url_for('static', filename='icon/chevron-left.svg') }}" width="32" alt="Предыдущие категории"></a>
            <div class="grid_center">
                <div class="grid_dir">
                    {% for language in languages %}
                    <form action="{{ url_for('main.courses') }}" method="GET">
                        <input type="hidden" value="{{ language }}" name="filter">
                        <button type="submit"> {{ language }}</button>
                    </form>
                    {% endfor %}
                </div>
            </div>
            <a href="{{ url_for('main.next_page', page=page) }}" class="arrow_right"><img src="{{ url_for('static', filename='icon/chevron-right.svg') }}" width="32" alt="Следующие категории"></a>
        </div>
    </div>
</main>
{% endblock %}