<div style="background-color: rgba(72, 76, 89, 1);color:white;" class="card container m-3 review-item">
  <div class="title-chips">
    <h3 class="card-title">{{ review.course[0].owner.title }}</h3>
    <div class="chips">
      <span class="chip chip-course">Курсы</span>
      <span class="chip chip-review">Отзывы</span>
    </div>
  </div>
  <span>{{ review.text }}</span>

  <h5 class="review-site">Сайт онлайн-школы - {% for course in review.course %}
    <a class="course-hyperlink" href="{{ course.link }}">{{ course.link }}</a>
    {% endfor %}
  </h5>
  <div class="author-rating">
    <span class="rating">{{ review.rating }}/5</span>
    <div class="rating-stars">
      {% for i in range(5) %}
      <img src="{{ url_for('static', filename='icon/star_n.svg') }}" class="star_{{ review.id }}" width="32"/>
      {% endfor %}
    </div>
    <span class="review-author">{{ review.author.username }}</span>
  </div>
</div>
<script>
  rating = {{ review.rating }}
  stars = document.getElementsByClassName("star_{{ review.id }}")
  for(i = 0; i < rating; i++) {
    stars[i].src = "{{ url_for('static', filename='icon/star_a.svg') }}"
  }
</script>