{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/review.css') }}">
<main>
    <div class="container">
        <h1>Отзывы о школе {{ school.title }}</h1>
        <p class="description ">{{ school.description }}</p>
        {% for rev in reviews %}

        <div class="card container p-3">
            <p>{{ rev.rating }}/5</p>
            {{ rev.text }}
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}