{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/review.css') }}">
<main>
    <div class="container">
        <h1>Отзывы о школе {{ school.title }}</h1>
        {% if school_rating != 0 %}
        <h2 >Рейтинг школы: <span class="school_rating {% if school_rating <= 2 %}bad{% elif 2 < school_rating <= 3.9 %}medium{% else %}good{% endif %}">{{ school_rating }}</span>/5</h2>
        {% else %}
        <h2 >Рейтинг школы: <span class="school_rating">Неизвестно</span></h2>
        {% endif %}
        {% if school.description %}
        <p class="description ">{{ school.description }}</p>
        {% endif %}
        {% for review in reviews %}
        {% include "review/review_item.html" %}
        {% endfor %}
    </div>
</main>
{% endblock %}