body {
    background-color: rgba(51, 55, 70, 1);
}
main {
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 45px;
}

main h3{
    margin-top: 15px;
}

.grid_dir {
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(100px, 15%));
    grid-template-rows: auto;
    text-align: center;
}

.grid_dir p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(72, 76, 89, 1);
    border-radius: 120px;
    margin: 8px;
    text-align: center;
    color: white;
}
.course-link {
    text-decoration: none; 
    color: white; 
}


.course-link:hover {
    text-decoration: underline; 
}
