:root {
    --background-color: #EAEAEA;
    --background-color-grid-dir:#4E59FD;
    --text-color-tag: #ffffff;
}

.dark-theme {
    --background-color:#333746;
    --background-color-grid-dir: #484c59;
    --text-color-tag: #ffffff;
}
body {
    background-color: var(--background-color);
}
main {
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 45px;
}

main h3{
    margin-top: 15px;
}

.grid_dir {
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(100px, 15%));
    grid-template-rows: auto;
    text-align: center;
}

.grid_dir p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-grid-dir);
    border-radius: 120px;
    margin: 8px;
    text-align: center;
    color: var(--text-color-tag);
}
.course-link {
    color: var(--text-color);
}
.pages {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;

}
.pages a{
    margin: 10px;
}
.pages span{
    margin: 10px;
}
.card {
    display: flex;
    background-color: var(--background-color-grid-dir);
}

.card a {
    color: var(--text-color-tag);
    text-decoration: none;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}

.container-fluid > * {
    margin-right: 10px; /* Отступ между дочерними элементами */
    margin-bottom: 10px; /* Отступ между строками */
}


.course-link:hover {
    text-decoration: underline;
}
.favs {
    font-size: 1.25rem;
    color: #ffffff;
}

.icon-adjust {
    position: relative;
    top: -5px;
    right: -5px;
}