:root {
    --background-color: #EAEAEA;
    --background-color-grid-dir:#4E59FD;
    --text-color-tag: #ffffff;
}

.dark-theme {
    --background-color:#484c59;
    --background-color-grid-dir: #484c59;
    --text-color-tag: #ffffff;
}
body {
    background-color: var(--background-color);
}
main {
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 45px;
}

main h3{
    margin-top: 15px;
}

.grid_dir {
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(100px, 15%));
    grid-template-rows: auto;
    text-align: center;
}

.grid_dir p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-grid-dir);
    border-radius: 120px;
    margin: 8px;
    text-align: center;
    color: var(--text-color-tag);
}
.course-link {
    text-decoration: none; 
    color: var(--text-color);
}
.pages {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;

}
.pages a{
    margin: 10px;
}
.pages span{
    margin: 10px;
}
.cards {
  display: flex;
    justify-content: center;
    flex-direction: column;
}

.course-link:hover {
    text-decoration: underline;
}
