:root {
    --background-color: #EAEAEA;
    --text-color: #000000;
    --text-color-chip: #ffffff;
    --border-color: 1px solid rgba(0, 0, 0, 0.5);
    --background-color-chip:#4E59FD;
}

.dark-theme {
    --background-color:#333746;
    --text-color: #ffffff;
    --background-color-chip:#3e414a;
    --background-color-card-container: #484c59;
}

card {
    display: flex;
    background-color: var(--background-color-grid-dir);
    color: var(--background-color-grid-dir);
    --border-color: 1px solid rgba(0, 0, 0, 0.5);
}

.review-item {
    border-radius: 20px;
    justify-content: center;
}

.review-item .card-title {
    padding-top: 4px;
    padding-bottom: 4px;
}

.review-item .card-title .card-link {
    color: var(--text-color);
    text-decoration: underline !important;
}

.review-item .course-hyperlink {
    color: #0d6efd !important;
    text-decoration: underline !important;
}

.author-rating {
    width: fit-content;
    align-self: flex-end;
}

.review-author {
    padding: 8px;
    font-size: 20px;
}

.author-rating {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.author-rating .rating {
    text-align: center;
}

.title-chips {
    display: flex;
    justify-content: space-between;
}

.chips {
    display: flex;
    justify-content: right;
}

.rating-stars {
    display: flex;

}

.chip {
    color: var(--text-color-chip);
    background-color: var(--background-color-chip);
    align-self: center;
    margin-right: 12px;
    padding: 4px 12px 4px 12px;
    border-radius: 20px;
}

.school_rating.bad {
    color: #ff0000;
}

.school_rating.medium {
    color: #ff6e00;
    font-weight: bold;
}

.school_rating.good {
    color: #429824;
}

.card.container.m-3.review-item {
    background-color: var(--background-color-card-container);
    color: var(--text-color);
    border: var(--border-color)
}